html,
body {
  font-family: "Outfit", sans-serif;
}

$light-color: #d2d2d2;
$white-color: #ffffff;
$black-color: #000000;
$primary-color: #3f3c4e;

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);
