$light-color: #d2d2d2;
$white-color: #ffffff;
$transparent-color: rgba(255, 255, 255, 50%);
$black-color: #000000;
$background-color: #040310;
$primary-color: #3f3c4e;
$hot-color: #f73535;
$new-color: #353df7;
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

html,
body {
  font-family: "Outfit", sans-serif;
  background-color: $background-color !important;
  // /* Keyword values */
  // image-rendering: auto;
  // image-rendering: crisp-edges;
  // image-rendering: pixelated;

  /* Global values */
  image-rendering: inherit;
  image-rendering: initial;
  image-rendering: unset;
}

.heading {
  margin-bottom: 30px;
}

.bg-gradient {
  background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%) !important;
}

.bg-primary {
  background-color: #3f3c4e !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: map-get($font-weights, semibold);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $white-color;
  column-gap: 10px;
}

// LABEL CARD
.badge {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: map-get($font-weights, medium);
  text-transform: uppercase;
  &.special {
    background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%);
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $white-color;
  }
  &.category {
    background: $white-color;
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $black-color;
  }
  &.hot {
    background-color: $hot-color;
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $white-color;
  }
  &.new {
    background-color: $new-color;
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $white-color;
  }
  &.like {
    background-color: $primary-color;
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $white-color;
    text-transform: lowercase;
  }
  &.dark {
    background-color: $background-color;
    border-radius: 6px;
    font-weight: map-get($font-weights, medium);
    color: $white-color;
  }
}

@mixin highlighted {
  background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #ffffff 94.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin button-basic {
  background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%);
  border-radius: 30px;
  width: 161px;
  height: 55px;
  text-decoration: none;
  color: $white-color;
}

@mixin border-gradient {
  border-radius: 30px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  // -webkit-mask-composite: exclude; /*5*/
}

@mixin badge-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 20px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: map-get($font-weights, medium);
  text-transform: uppercase;
}

@mixin heading-section {
  font-style: normal;
  font-weight: map-get($font-weights, semibold);
  font-size: 32px;
  letter-spacing: 0.02em;
  color: $white-color;
}

.btn-basic {
  @include button-basic;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  // &:hover:not(.border-gradient) {
  //   background: linear-gradient(90deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%) !important;
  // }
  &.border-gradient {
    position: relative;
    background: transparent !important;
    width: 115px;
    height: 38px;
    font-weight: map-get($font-weights, medium);
    font-size: 14px;
    &:hover {
      background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%) !important;
      color: $white-color;
    }
  }
  &.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(276.03deg, #b050e9 5.64%, #e7a4b1 50.71%, #d593d8 94.87%);
    -webkit-mask: linear-gradient($white-color 0 0) content-box, linear-gradient($white-color 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 45px;
    color: $white-color;
    // margin: 45px -160px 0 -90px !important;
    // left: 0;
    // right: 10px;
    margin-right: -20px;
    margin-left: -20px;

    & .bx-chevron-right,
    & .bx-chevron-left {
      border: 2px solid $white-color;
      background-color: $black-color;
      border-radius: 50%;
      z-index: 2;
    }
  }
}
