#discover-item {
  h1 {
    @include heading-section;
  }
  .live- {
    &badge {
      @include badge-basic;
    }
  }
  .swiper- {
    &slide {
      width: 300px !important;
      height: 482px;
      // display: flex;
      // justify-content: center;
      border-radius: 20px;
      & img.art {
        width: 284px;
        height: 298px;
        // margin-top: 7px;
        border-radius: 15px;
        object-fit: cover;
        object-position: 25% 25%;
      }
    }
    &glass {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
      backdrop-filter: blur(21px);
      border: 1px solid $white-color;
      border-radius: 10px;
      padding: 16px;
      position: absolute;
      bottom: 0;
      margin: 0 33px 15px;
      width: 220px;
      height: 50px;
      position: absolute;
      bottom: 0;
      & small {
        font-weight: map-get($font-weights, light);
        font-size: 12px;
        letter-spacing: 0.02em;
        color: $transparent-color;
      }
      & span {
        font-weight: map-get($font-weights, medium);
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: $white-color;
      }
    }
    &content {
      display: flex;
      flex-direction: column;
      padding: 16px;
      & h5 {
        font-weight: map-get($font-weights, semibold);
        font-size: 18px;
        letter-spacing: 0.02em;
        color: $white-color;
        margin-bottom: 15px;
      }
      & h6 {
        font-weight: map-get($font-weights, semibold);
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 3px;
      }
      & span {
        font-weight: map-get($font-weights, regular);
        font-size: 12px;
        color: $transparent-color;
        margin-bottom: 3px;
      }
      & p {
        font-weight: map-get($font-weights, medium);
        font-size: 14px;
        color: $white-color;
        margin: 0 3px;
      }
      & img.creator {
        width: 37px;
        height: 37px;
        border-radius: 12px;
      }
      & .bid-btn {
        @include button-basic;
        color: $white-color;
        width: 115px;
        height: 38px;
      }
      & .bid-btn::before {
        content: "";
        @include border-gradient;
      }
    }
  }
}
