footer {
  padding-top: 68px;
  background-color: black;
  margin-top: 106px;
  img {
    width: 190px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $white-color;
    margin: 12px 0 30px;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: $primary-color;
    color: $white-color;
    text-decoration: none;
    border-radius: 100px;
  }
  h1 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: $white-color;
    margin-bottom: 24px;
    white-space: nowrap;
  }
  ul {
    li {
      margin-bottom: 15px;
      a {
        color: $transparent-color;
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.02em;
        &:hover {
          color: $white-color;
        }
      }
    }
  }
  .input-group {
    font-weight: 400;
    letter-spacing: 0.02em;
    .form-control {
      font-size: 12px;
      width: 225px;
      height: 40px;
      background: #2e2b3b;
      border: 0;
      color: $white-color;
      font-weight: map-get($font-weights, regular);
      &:focus {
        box-shadow: unset;
      }
    }
    .btn {
      color: $white-color;
      font-size: 12px;
      font-weight: map-get($font-weights, medium);
      border: 0;
    }
  }
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $transparent-color;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: $transparent-color;
    &:hover {
      color: $white-color;
    }
  }
  hr {
    margin-top: 65px;
  }
}
