#help {
  margin-bottom: 90px;
  padding-top: 40px;
  h1 {
    @include heading-section;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: $white-color;
    margin: 30px 0 11px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    width: 280px;
    color: $transparent-color;
  }
  .img-help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: $primary-color;
    cursor: pointer;
  }
  .col-3 {
    padding: 25px;
    border-radius: 15px;

    &:hover {
      background-color: $primary-color !important;
      cursor: pointer;
    }
  }
}
