// Google Font (Outfit)
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

// Partials
@import "reset";
@import "base";
@import "navbar";
@import "hero";
@import "live";
@import "seller";
@import "collection";
@import "discover";
@import "help";
